.home {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-content: center;
    min-height: 60vh;

    &-title {
        color: var(--theme-color);
        font-size: var(--tlarge);
        font-family: var(--fira-code);
    }
    &-title-large {
        font-size: var(--tgiant);
        font-family: var(--raleway);
        color: var(--light-slate);
    }
    &-title-typewriter {
        color: var(--lightest-slate);
        font-size: var(--tminigiant);
        &-text {
            color: var(--theme-color);
            font-size: var(--tminigiant);
            font-family: var(--fira-code);
        }
    }
  
    &-title-sub {
        color: var(--lightest-slate);
        font-size: var(--tminigiant2);
        
    }
    &-text {
        color: var(--slate);
        margin-right: 40%;
        font-size: var(--tlarge);
        letter-spacing: 0.07rem;
        line-height: 1.6rem;
        font-weight: 600;
        font-family: var(--raleway);
    }
    &-button {
        margin-top: 2rem;
        .btn {
            padding: 1rem 2rem;
            font-size: var(--tsm1);
            font-family: var(--raleway);
        }
    }
    @media screen and (max-width: 768px) {
        &-text {
            width: 90%;
        }
    }
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.1s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}
