.flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .gap-10 {
    gap: 1rem; // You can adjust the value based on your preference
  }

  .w-28 {
    width: 4rem; // You can adjust the value based on your preference
  }
  
  .h-28 {
    height: 4rem; // You can adjust the value based on your preference
  }